<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="dashboard_graph">
				<div class="row x_title">
					<div class="col-md-12">
						<h3>WiFi Camera Snapshots</h3>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="owl-carousel owl-theme">
						<div class="item"><img src="../../../resources/img/room1.jpg"/></div>
						<div class="item"><img src="../../../resources/img/room2.jpg"/></div>
						<div class="item"><img src="../../../resources/img/room1.jpg"/></div>
						<div class="item"><img src="../../../resources/img/room2.jpg"/></div>
						<div class="item"><img src="../../../resources/img/room1.jpg"/></div>
						<div class="item"><img src="../../../resources/img/room2.jpg"/></div>
						<div class="item"><img src="../../../resources/img/room1.jpg"/></div>
						<div class="item"><img src="../../../resources/img/room2.jpg"/></div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>

	</div>
	<br/>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="dashboard_graph">

				<div class="row x_title">
					<div class="col-md-6">
						<h3>Live Power Consumption
							<small>(W-hr)</small>
						</h3>
					</div>
					<div class="col-md-6">
						<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
							<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
							<span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div style="width: 100%;">
						<div id="power-chart-container" class="demo-placeholder" style="width: 100%; height:270px;">
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>

	</div>
	<br/>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="dashboard_graph">

				<div class="row x_title">
					<div class="col-md-6">
						<h3>Live Temperature Monitoring
							<small>(Celsius)</small>
						</h3>
					</div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div style="width: 100%;">
						<div id="temperature-chart-container" class="demo-placeholder" style="width: 100%; height:270px;">
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>

	</div>
</div>